@font-face{
	font-family: "808s_font";
    src: url("files/Engravers\'\ Gothic\ Regular.otf") format("opentype");
}
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body {
    background-color: black;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}
body.loaded-body {
    opacity: 1;
}







#rule-1-cover-container {
    height: 80vh;
    background-image: url(files/blue.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;
    z-index: 0;
}
#rule-1-cover-container::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -1px;
    height: calc(60vh + 1px); /* size of the fade */
    background: linear-gradient(to bottom, transparent, black);
    z-index: 1;
}
#rule-10-cover-container {
    height: 80vh;
    background-image: url(files/pink.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;
}
#rule-10-cover-container::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60vh; /* size of the fade */
    background: linear-gradient(to top, transparent, black);
}
#grey-divider {
    height: 40vh;
    width: 100%;
    background-image: url(files/gray1.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;
}
#grey-divider::after {
    content: "";
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    background: linear-gradient(to top, black, transparent, black);
}





.first-5-rule-container {
    max-width: 1100px;
    margin: auto;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.last-5-rule-container {
    max-width: 1100px;
    margin: auto;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "b a";
}
.last-5-rule-container > :first-child { grid-area: a; }
.last-5-rule-container > :nth-child(2) { grid-area: b; }
@media (max-width: 800px) {
    .first-5-rule-container {
        display: block;
        grid-template-columns: none;
    }
    .last-5-rule-container {
        display: block;
        grid-template-columns: none;
    }
}
.card {
    width: min(320px, 94vw, calc(94vh * 5 / 7));
    aspect-ratio: 5 / 7;
    margin: auto;
}
.card::before{
    content: "";
    position: absolute;
    width: min(320px, 94vw, calc(94vh * 5 / 7));
    aspect-ratio: 5 / 7;
    border-radius: inherit;
    background-color: white;
    filter: blur(min(20vw, 20vh));
    opacity: 0.15;
    pointer-events: none;
    z-index: 2;
}

.card>a {
    display: block;
    width: 100%;
    height: 100%;
}
#rule-1-card {
    border-top-left-radius: 13px;
    border-bottom-right-radius: 13px;
    background-image: url(files/rorschach/rorschach-blot-5.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgb(247,232,225);
    background-size: 130%;
}
#rule-2-card {
    border-top-left-radius: 13px;
    border-bottom-right-radius: 13px;
    background-image: url(files/rorschach/rorschach-blot-3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgb(247,232,225);
    background-size: 165%;
}
#rule-3-card {
    border-top-left-radius: 13px;
    border-bottom-right-radius: 13px;
    background-image: url(files/rorschach/rorschach-blot-4.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgb(247,232,225);
    background-size: 140%;
}
#rule-4-card {
    border-radius: 13px;
    background-image: url(files/rorschach/rorschach-blot-6.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgb(247,232,225);
    background-size: 160%;
}
#rule-5-card {
    border-radius: 13px;
    background-image: url(files/rorschach/rorschach-blot-2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgb(247,232,225);
    background-size: 165%;
}
#rule-6-card {
    border-radius: 13px;
    background-image: url(files/rorschach/rorschach-blot-7.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-color: white;
    background-size: 150%;
}
#rule-7-card {
    border-radius: 13px;
    background-image: url(files/rorschach/rorschach-blot-1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgb(247,232,225);
    background-size: 110%;
}
#rule-8-card {
    border-radius: 13px;
    background-image: url(files/rorschach/rorschach-blot-9.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgb(240,250,250);
    background-size: 115%;
}
#rule-9-card {
    border-radius: 13px;
    background-image: url(files/rorschach/rorschach-blot-8.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgb(240,250,250);
    background-size: 130%;
}
#rule-10-card {
    border-radius: 13px;
    background-image: url(files/rorschach/rorschach-blot-10.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgb(240,250,250);
    background-size: 105%;
}
.rule-card-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.rule-card-text>h2 {
    text-align: center;
    color: white;
    font-size: 70px;
    font-family: Arial, Helvetica, sans-serif;
}
.rule-card-text>p {
    text-align: center;
    color: white;
    font-size: 35px;
    font-family:  "808s_font";
}





.rule-text-container {
    max-width: 900px;
    margin: auto;
}
.rule-text-container>p{
    margin: 25px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}





.back-button-container {
    height: 20vh;
    min-height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.back-button-container img{
    height: 100px;
    width: 100px;
}
.back-button-container a{
    filter: blur(min(0.1vw, 0.1vh));	
}