@font-face {
    font-family: "bebas-book";
    src: url("files/BebasNeue\ Book.otf") format("truetype");
}@font-face {
    font-family: "bebas-regular";
    src: url("files/BebasNeue\ Regular.otf") format("truetype");
}
@font-face {
    font-family: "bebas-bold";
    src: url("files/BebasNeue\ Bold.otf") format("truetype");
}
@font-face {
    font-family: "blocky-regular";
    src: url("files/uni05_53.ttf") format("truetype");
}
@font-face {
    font-family: "blocky-bold";
    src: url("files/uni05_63.ttf") format("truetype");
}
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}




html {
    background-color: black;
    filter: contrast(1.06);
}




body {
    min-height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.8)), url(files/wp-gray.jpg);
    background-size: cover;
    background-position: center top;
    background-color: black;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}
body.loaded-body {
    opacity: 1;
}




h1 {
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 50px;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 1000px;
    margin: auto;
}









