@font-face{
    font-family: "808s_font";
    src: url("files/Engravers\'\ Gothic\ Regular.otf") format("opentype");
}
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body {
    background-color: black;
    opacity: 0;
    transition: opacity 0.8s ease-in;
}
body.loaded-body {
    opacity: 1;
}







#rule-1-cover-container {
    height: 85vh;
    background-image: url(files/blue.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;
}
#rule-1-cover-container::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 60vh; /* size of the fade */
    background: linear-gradient(to bottom, transparent, black);
}





.first-5-rule-container {
    max-width: 1100px;
    margin: auto;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.last-5-rule-container {
    background-color:darkred;
}
@media (max-width: 800px) {
    .first-5-rule-container {
        display: block;
        grid-template-columns: none;
    }
}
.card {
    width: min(320px, 94vw, calc(94vh * 5 / 7));
    aspect-ratio: 5 / 7;
    margin: auto;
}
.card>a {
    display: block;
    width: 100%;
    height: 100%;
}
#rule-1-card {
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: rgb(100, 100, 100);
    background-image: url(files/placeholder.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#rule-2-card {
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: rgb(100, 100, 100);
    background-image: url(files/placeholder.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#rule-3-card {
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: rgb(100, 100, 100);
    background-image: url(files/placeholder.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#rule-4-card {
    border-radius: 10px;
    background-color: rgb(100, 100, 100);
    background-image: url(files/placeholder.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#rule-5-card {
    border-radius: 10px;
    background-color: rgb(100, 100, 100);
    background-image: url(files/placeholder.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#rule-6-card {
    border-radius: 10px;
    background-color: rgb(100, 100, 100);
    background-image: url(files/placeholder.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#rule-7-card {
    border-radius: 10px;
    background-color: rgb(100, 100, 100);
    background-image: url(files/placeholder.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#rule-8-card {
    border-radius: 10px;
    background-color: rgb(100, 100, 100);
    background-image: url(files/placeholder.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#rule-9-card {
    border-radius: 10px;
    background-color: rgb(100, 100, 100);
    background-image: url(files/placeholder.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#rule-10-card {
    border-radius: 10px;
    background-color: rgb(100, 100, 100);
    background-image: url(files/placeholder.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.rule-card-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.rule-card-text>h2 {
    text-align: center;
    color: white;
    font-size: 70px;
    font-family: Arial, Helvetica, sans-serif;
}
.rule-card-text>p {
    text-align: center;
    color: white;
    font-size: 35px;
    font-family:  "808s_font";
}





.rule-text-container {
    max-width: 900px;
    margin: auto;
    overflow: hidden;
}
.rule-text-container>p{
    margin: 25px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}





.back-button-container {
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.back-button-container img{
    height: 100px;
    width: 100px;
}