/* general settings */
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body {
    background-color: cyan;
}




/* index settings */
#cover-container {
    background-color: rgb(28, 48, 48);
    background-image: url(files/placeholder.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    color: white;
    font-size: 90px;
    overflow: hidden;
}
#cover-container>a, #cover-container>h1{
    color: white;
    mix-blend-mode: difference;
    text-decoration: none;
}


#content-container {
    background-color: black;
    overflow: hidden;
}


#quote-container {
    background-color: rgb(50, 0, 0);
    color: white;
    text-align: right;
    padding: 10px;
    padding-top: 50px;
    padding-bottom: 50px;
    font-family: Bugatti Display,ui-sans-serif,system-ui,sans-serif,"Apple Color Emoji","Segoe UI Emoji",Segoe UI Symbol,"Noto Color Emoji";    
    font-size: 30px;
}


#rules-container {
    background-color: rgb(0, 50, 0);
    max-width: 1500px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    padding: 20px;
    justify-content: center;
    align-content: start;
}
.rule>.card {
    background-color: rgb(94, 46, 29);
    width: min(300px, 95vw, calc(95vh * 5 / 7));
    aspect-ratio: 5 / 7;
    border-radius: 8px;
    margin: auto;
}
#rule-1-card {
    background-image: url(files/placeholder.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.rule>h2 {
    text-align: center;
    color: white;
    font-size: 40px;
}
.rule>p {
    color: white;
    font-size: 25px;
    text-align: center;
}


#credits-container {
    background-color: rgb(0, 0, 50);
    color: white;
    text-align: center;
    padding-top: 50px;
    height: 600px;
    max-height: max(90vh, 150px);
    font-size: 20px;
}






/* rule settings */
