* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body {
    background-color: black;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}
body.loaded-body {
    opacity: 1;
}





#cover-container {
    height: 100vh;
    overflow: hidden;
    position: relative;
    text-align: center;
	background-color: #024bfb;
}
#cover-container>a, #cover-container>h1{
    color: black;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
	font-weight: bold;
}
#cover-container>a {
	z-index: 11;
    position: relative;
    font-size: max(25px, 1.8vw);
}
#cover-container>h1 {
	z-index: 10;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);    
    width: 100%;
}
#eng-title {
    font-size: min(20vw, 47vh);
}
#hun-title {
    font-size: min(19vw, 55vh);
}





#quote-container {
    color: #024bfb;
    text-align: right;
    padding: 4vw;
    padding-top: 80px;
    padding-bottom: 80px;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
	font-weight: bold;
}





#rule-containers-container {
	
}


