/* general settings */
@font-face{
    font-family: "808s_font";
    src: url("files/Engravers\'\ Gothic\ Regular.otf") format("opentype");
}
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body {
    background-color: black;
}




/* main websites settings */
#cover-container {
    height: 100vh;
    overflow: hidden;
    position: relative;
    text-align: center;
}
#cover-video {
    background: rgb(125, 0, 125);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
}
#cover-container>a, #cover-container>h1{
    color: white;
    mix-blend-mode: difference;
    text-decoration: none;
    font-family: "808s_font";
}
#cover-container>a {
    position: relative;
    z-index: 1;
    text-align: center;
    font-size: max(25px, 1.7vw);
    /*filter: blur(min(0.05vw, 0.05vh));*/
}
#cover-container>h1 {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);    
    width: 100%;
    filter: blur(min(0.1vw, 0.1vh));
    pointer-events: none;
}
#eng-title {
    font-size: min(22vw, 55vh);
}
#hun-title {
    font-size: min(19vw, 55vh);
}



#quote-container {
    color: white;
    text-align: right;
    padding: 4vw;
    padding-top: 80px;
    padding-bottom: 80px;
    font-size: 30px;
    font-family: "808s_font";
}



#rules-container {
    /*max-width: 1600px;*/
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    padding: 20px;
    justify-content: center;
    align-content: start;
}
.rule>.card {
    background-color: rgb(100, 100, 100);
    width: min(320px, 94vw, calc(94vh * 5 / 7));
    aspect-ratio: 5 / 7;
    border-radius: 8px;
    margin: auto;
}
.rule>.card>a {
    display: block;
    width: 100%;
    height: 100%;
}
#rule-1-card {
    background-image: url(files/placeholder.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#rule-2-card {
    background-image: url(files/placeholder.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#rule-3-card {
    background-image: url(files/placeholder.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#rule-4-card {
    background-image: url(files/placeholder.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#rule-5-card {
    background-image: url(files/placeholder.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#rule-6-card {
    background-image: url(files/placeholder.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#rule-7-card {
    background-image: url(files/placeholder.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#rule-8-card {
    background-image: url(files/placeholder.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#rule-9-card {
    background-image: url(files/placeholder.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#rule-10-card {
    background-image: url(files/placeholder.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.rule>h2 {
    text-align: center;
    color: white;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
}
.rule>p {
    text-align: center;
    color: white;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}



#credits-container {
    color: white;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 50px;
    font-size: 20px;
    font-family: "808s_font";
}






/* rule websites settings */
